:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--main-text-color);
  background-color: var(--main-background);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border-width: 0;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--button-background);
  cursor: pointer;
  transition: border-color 0.25s;
  user-select: none;
}

button:hover {
  border-color: #646cff;
  background-color: var(--button-hover-background);
}

button:disabled,
button:disabled:hover {
  background-color: var(--button-diabled-background);
  cursor: auto;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

button:has(i) {
  border-width: 0;
}

.form-group {
  border-width: 0;
}

.card {
  padding: 2em;
}

.tag {
  background-color: #60A0FF;
  border-radius: 100px;
  padding: 0 .5rem;
  color: white;
  user-select: none;
}

.sidebar-item:has(i) {
  display: grid;
  grid-template-columns: auto 1fr;
  height: 50px;
  align-items: center;
  color: var(--sidebar-text-color);
}

.sidebar-item:hover {
  background-color: var(--sidebar-item-hover-background);
  border-radius: .2rem;
}

.sidebar-item i {
  width: 50px;
  text-align: center;
}

@media (prefers-color-scheme: light) {
  :root {
    --main-text-color: #213547;
    --main-background: #ffffff;
    --sidebar-text-color: #505050;
    --sidebar-background: #E0F0FF;
    --sidebar-item-hover-background: #FFFFFF80;

    --button-hover-background: #E0F0FF;
    --button-background: #F0F0F0;
    --button-diabled-background: #E0E0E0;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --main-text-color: rgb(150, 150, 150);
    --main-background: #242424;
    --sidebar-text-color: rgb(200, 200, 200);
    --sidebar-background: #3b3b3b;
    --sidebar-item-hover-background: #484848;

    --button-hover-background: rgb(150, 150, 150);
    --button-background: rgb(100, 100, 100);
    --button-diabled-background: rgb(180, 180, 180)
  }
}
